#!/usr/bin/make -f

DEB_BUILD_ARCH:=$(shell dpkg --print-architecture)

ifeq ($(DEB_BUILD_ARCH),hurd-i386)
	CONFIG_OPTS:=--disable-threads
else
	CONFIG_OPTS:=
endif

%:
	dh --with quilt $@

override_dh_auto_configure:
	./configure \
		$(CONFIG_OPTS) \
		--enable-cplusplus \
		--disable-dependency-tracking \
		--with-tags=CXX \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--sysconfdir=/etc \
		--localstatedir=/var/lib \
		--datadir=\$${prefix}/share/doc

override_dh_installchangelogs:
	dh_installchangelogs doc/README.changes

override_dh_makeshlibs:
	dh_makeshlibs -V 'libgc1c2 (>= 1:6.8-1.1)'
